@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background: #000000;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 2rem;
  padding-right: 2rem;
}
#home,
#experience,
#projects,
#contact {
  scroll-margin-top: 80px;
}
